name: Patch and Build

on:
  workflow_dispatch:          # Manual runs via UI/CLI/API
  push:
    branches: ["**"]          # All branches
  pull_request:

jobs:
  build:
    # Skip forked repo PRs from self
    if: ${{ github.event_name != 'pull_request' ||
          github.repository != github.event.pull_request.head.repo.full_name }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Git Repository
        uses: actions/checkout@v4

      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v4

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Configure Git User Details
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "Github Actions"

      - name: Apply Patches
        run: ./gradlew applyPatches

      - name: Build
        run: ./gradlew build

      - name: Upload JAR artifacts
        uses: actions/upload-artifact@v4
        with:
          name: folia-jars
          path: build/libs/*.jar
          retention-days: 5
